# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
sonarlint
.name
/compiler.xml
.idea/runConfigurations.xml
.idea/jarRepositories.xml
.idea/vcs.xml
.idea/misc.xml
